.footer {
  background: #4e4e4e;
  height: 147px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer p {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.footer div a {
  color: white;
  font-size: 30px;
  padding: 10px 0 0 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer div a {
    padding: 0 0 0 16px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    height: 71px;
  }

  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer div a {
    padding: 0 0 0 16px;
  }
}
