nav {
  position: sticky;
  top: 0;
  height: 50px;
  background-color: #4e4e4e;
  line-height: 21px;
  display: flex;
  align-items: center;
  z-index: 1;
}

nav a {
  color: white;
  padding-left: 15px;
  font-weight: bold;
}

.nav-links {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }

  nav > .container {
    display: flex;
    justify-content: space-between;
  }

  .nav-links {
    display: block;
    font-weight: normal;
  }

  .nav-links a {
    font-weight: normal;
  }

  nav .container a {
    padding: 0;
  }

  nav a {
    color: white;
  }

  span {
    cursor: not-allowed;
    color: white;
  }

  .nav-links a:not(:last-child) {
    margin-right: 46px;
  }
}
