.about-us {
  background-color: #f1f1f1;
  padding-top: 40px;
}

.about-us > .container {
  height: 100%;
}

.pic,
.pic2 {
  background-size: cover;
  height: 200px;
  width: 200px;
  min-width: 200px;
  background-color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.pic {
  background-image: url(img/receptionists-gafbc589c1_640.jpg);
  background-position: center;
}

.pic2 {
  background-image: url(img/woman-gf5eb54db2_640.jpg);
  background-position: right 20%;
  background-size: cover;
}

.about-us .container h2 {
  color: #152d41;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 40px;
  text-align: center;
}

.wrapper {
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first,
.second {
  padding-top: 56px;
  font-size: 18px;
  color: black;
  text-align: justify;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first h3,
.second h3 {
  font-weight: bold;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-us .container h2 {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .about-us {
    padding: 70px 0;
  }

  .about-us .container h2 {
    padding-bottom: 90px;
    text-align: left;
  }

  .wrapper:nth-of-type(odd) {
    flex-direction: row;
    padding-bottom: 90px;
  }

  .wrapper:nth-of-type(even) {
    flex-direction: row-reverse;
    padding-bottom: 0;
  }

  .first,
  .second {
    margin: 0;
    padding-top: 0;
  }

  .first {
    padding-left: 50px;
  }

  .second {
    padding-right: 50px;
    text-align: right;
  }
}
